<h4>Locations</h4>
<table class="table table-striped">
  <thead>
  <tr>
    <th></th>
    <th>Location</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @clients_integration_setting.locations_integration_settings.each do |locations_integration_settings| %>
      <tr>
        <td>
          <a title="Override Settings by Location" href="<%= edit_locations_integration_setting_path(locations_integration_settings.id) %>">
            Edit Settings
          </a>
        </td>
        <td>
          <%= locations_integration_settings.location.name %>
        </td>
        <td>
          <%= link_to('Logs (todo)', 'todo') %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to('Add/Remove Locations', edit_clients_integration_setting_path(@clients_integration_setting, locations: true), class: 'btn btn-primary') %>