<% title "Clients" %>
<% header_right link_to("New Client", new_client_path, class: "btn btn-success") %>

<section class="h-feed">
  <% @clients.each do |client| %>
    <article class="well">
      <%= render partial: "hentry", locals: { client: client } %>
    </article>
  <% end %>
</section>
