<% title "Customers" %>
<% header_right link_to("New Customer", new_customer_path, class: "btn btn-success") %>

<section class="h-feed">
  <% @customers.each do |customer| %>
    <article class="well">
      <%= render partial: "hentry", locals: { customer: customer } %>
    </article>
  <% end %>
</section>
