@import "bootstrap";
@import "bootstrap/theme";
@import "multi-select";

body {
  padding-bottom: 2em;
}

fieldset {
  margin-top: 2em;
  &:first-child {
    margin-top: 0;
  }
}

label .note {
  color: #888;
  font-size: 12px;
  font-weight: normal;
}

.locations-container {
  clear: both;
  display: none;
  padding: 15px 0 2em;
  position: relative;

  fieldset:first-child hr {
    display: none;
  }
}

.well h2 {
  margin-top: 0;
}

.p-category:before {
  content: "#"
}

.h-adr {
  > span {
    display: block;
  }
}

//absolute positioned bottom right
.abs-br {
  position: absolute;
  bottom: 0;
  right: 0;
}

form h5 {
  margin-top: 2em;
  text-transform: uppercase;
  &:first-child {
    margin-top: 0;
  }
}

ul.show-list {
  list-style-type: none;
  padding-left: 0;
  li {
    margin: 10px;
  }
  .field-name {
    display: inline-block;
    width: 200px;
    margin-right: 10px;
    text-align: right;
  }
  .field-value {
    font-weight: bold;
  }
}

#job-setting-container {
  .form-control {
    width: 100px;
  }

  select, input {
    display: inline;
  }
}

td.job-errors {
  font-weight: bold;
  .jobs-error {
    color: #990000;
  }

  .jobs-success {
    color: #006600;
  }
}
