<% title "Features" %>
<% header_right link_to("New Feature", new_feature_path, class: "btn btn-success") %>

<section class="h-feed">
  <% @features.each do |feature| %>
    <article class="well">
      <%= render partial: "hentry", locals: { feature: feature } %>
    </article>
  <% end %>
</section>
