<% title "Locations" %>
<% header_right link_to("New Location", new_location_path, class: "btn btn-success") %>

<% @locations.each do |location| %>
  <div class="well">
    <%= render location %>
  </div>
<% end %>
