<% title "Location" %>

<section class="h-card">
  <h4>Client</h4>
  <p class="p-org h-card">
    <%= link_to @client.name, client_url(@client), class: "p-name u-uid u-url" %>
  </p>

  <%= render @location, client: @client %>
</section>
